// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
    width: 100%;
    height: 100vh;
}

:root {
    --primay-color: #ff671d;
    --second-color: #e16c27;
    --text-color: #3b4d6c;
    --text-second-color: #415384;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    // overflow-x:hidden;
}


//Header
.Header_Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .ant-avatar {
        border-radius: 50%;
        background-color: black;
    }

    .navbar_header li:hover a {
        color: black !important;
    }

    .navbar_header li a:hover {
        color: var(--primay-color) !important;
    }

    // .dropdown-item:active {
    //     color: var(--bs-dropdown-link-active-color);
    //     text-decoration: none;
    //     background-color: var(--primay-color);
    // }

    .navbar_header {
        margin: 0 auto;
    }

    .btn_signIn {
        align-items: center;
        margin-right: 60px;
        justify-content: center;
    }

    .btn_signIn:hover {
        span {
            color: #ff671d;
        }

        color:#ff671d;
    }


    .btn_signUp {
        margin-right: 30px;
        border: 2px solid var(--primay-color);
        padding: 10px;
        width: 180px;
        text-align: center;
        border-radius: 30px;
    }


    .btn_function {
        margin-right: 30px;
        border: 2px solid var(--primay-color);
        padding: 5px;
        width: 130px;
        text-align: center;
        border-radius: 30px;
        height: fit-content;
    }

    .btn_info_user:hover {
        border: 1px solid #ff8268;
        border-radius: 30px 0 0 30px;
        color: white !important;
        background-color: #ff8268;
    }

    .btn_logout:hover {
        border: 1px solid red;
        border-radius: 0 30px 30px 0;
        color: white !important;
        background-color: red;
    }

    .btn_signUp:hover {
        background-color: #333;

        span {
            color: #fff;
        }
    }

    .navbar_header li {
        margin-right: 20px;

        a {
            font-weight: 500;
        }
    }

    .navbar_header li:hover {
        background-color: rgba(242, 230, 230, 0.981);
        border-radius: 20px;

        a {
            color: var(--primay-color);
        }
    }


}

//Footer
.footer {
    height: fit-content;

    .top_footer {
        border-top: 1px solid #ccc;
        height: 300px;
        padding-top: 30px;
    }

    .right_footer {
        justify-content: space-between;
    }

    .contact_footer>p:hover {
        cursor: pointer;
        color: var(--primay-color);
    }

    .contact_footer>p {
        color: #595a5b;
        opacity: 0.7;
    }
}

//Button Back to Top
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--primay-color);
    border-color: transparent;
}


//Buton Back Previous
.btn_back {
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 41px;
    width: 47px;
    opacity: 0.7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn_back:hover {
    cursor: pointer;
    color: var(--primay-color);
}


//Validation Input
.form_input_handle {
    p {

        font-size: 15px;
        color: #fb035a;
        margin-top: 10px;
        text-align: left;
    }

    p::before {
        font-size: 15px;
        display: inline;
        content: "⚠ ";
    }
}


.form_otp input {
    width: 50px !important;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.loginGoogle iframe {
    margin: 0 auto !important;
}


// Notification Color
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}



// Home
.nav-pills .nav-link.active {
    background-color: var(--primay-color) !important;
}

.tab_trai_type button {
    width: 256px;
    height: 64px;
    margin-bottom: 10px;
}

.tab_trai_type .nav-link {
    width: 256px;
    height: 64px;
    background-color: #e2e3e8;
    color: #98999a;
    font-weight: bold;
}

//Price Service
.select_xe {
    box-sizing: border-box;
    // border:1px solid #ccc;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: inherit;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    width: fit-content;
    text-align: start;
    background-color: transparent;
    // border: 0;
    border-radius: 6px;
    outline: 0;
    transition: all 0.2s linear;
    appearance: textfield;
}


// Page Not Found


//Admin
.HeaderAdmin {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0.5px 3px #ccc;
    background-color: white;
    z-index: 999;
}

.FooterAdmin {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.SideMenuAndPageContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
    width: 100%;
}

.PageContent {
    padding: 24px;
    width: 100%;
    background-color: #f0f2f5;
    border-radius: 10px;
    height: 100%;
}


.SideMenuAdmin {
    height: 100vh;
}

.btn_collapse {
    position: absolute;
    top: 10px;
    left: 275px;
    z-index: 999;
    border: none;
    font-size: 20px;
    outline: none;
}

.btn_collapse:hover {
    color: #e16c27 !important;
    border: transparent;
    cursor: pointer;
}

.img_avatar {
    border-radius: 70% !important;
    object-fit: cover;
    border: 1px solid red;
    width: 50px;
    height: 50px;
}

.container_info_admin {
    margin: 10px 20px;
}

.ant-menu-item-selected {
    background-color: rgba(235, 123, 38, 0.9) !important;
    color: white !important;
}


.ant-menu-item {
    margin: 0px 0px 15px 0px !important;
}

.ant-menu-title-content {
    margin-left: 20px !important;
}

.ant-select-selector {
    height: 43.5px !important;
}

.ant-menu-item-group-list {
    margin-left: 20px !important;
}

.hieuung3d {
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
}

.bottom_css_content {
    border-radius: 10px;
    background-color: #ffffff;
    color: var(--text-color);
    box-shadow: 0px 1px 2px 1px #ccc;
    padding: 10px 20px;
    margin-top: 10px;
}

.ant-breadcrumb-link>a {
    text-decoration: none;
}

.ant-modal-content {
    width: 1300px;
    margin-left: -450px;
}

//ChangePassword Admin page
.change_password_visible {
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
    padding: 10px;
    width: fit-content;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #f0f2f5;

}


.label-color {
    color: var(--text-second-color);
    font-weight: 600;
}

.ant-transfer-list {
    width: 370px !important;
    font-weight: 500;
}

::placeholder {
    color: rgb(70, 95, 144, 0.7) !important;
    /* Firefox */
}

.ant-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

th.ant-table-cell {
    background-color: rgb(237, 136, 59, 0.8) !important;
    color: white !important;
}


.icon_hover div:hover {
    opacity: 0.6;
}

.ant-card-head-title {
    color: #ed883b !important;
}

.ant-tabs-content-holder {
    background-color: white !important;
    border-radius: 5px;
    padding: 10px;
}

//Home
.ant-tabs-content-holder {
    height: fit-content;
}

.HomePage {
    .ant-tabs-tab-active {
        background-color: orange !important;
        padding: 10px !important;
        border: 1px solid orange !important;
        border-radius: 10px 0 0 10px !important;
        color: white !important;
        font-size: 17px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;

        .ant-tabs-tab-btn {
            color: white !important;
        }
    }
}


.img_logo {
    width: 155px !important;
    object-fit: contain !important;
    height: 152px !important;
}


// User Page
.headerUser {
    height: fit-content;
    border-bottom: 2px solid #ccc;
    box-shadow: 0.5px 1px 4px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

    .ant-menu-overflow-item {
        border-radius: 5px !important;
    }


    .ant-menu-root {
        height: 57px;
        display: flex;
        align-items: center;
    }

    .ant-menu-title-content {
        color: #817d7d;
        padding: 5px;
        margin-right: 30px;
    }

    .ant-menu-item-selected>.ant-menu-title-content {
        color: white;
    }


    .item_nav_user {
        line-height: 50px;
    }

    .navBar_User {
        margin-right: 70px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #9b9797;
        text-align: center;
    }

    .ant-menu-overflow li {
        margin: 0 !important;
    }

    .ant-menu-overflow-item::after {
        border-bottom: transparent !important;
    }
}

.bookingUser,
.orderUser,
.infoUser {
    margin-top: 50px;
}

.infoUser {
    padding: 50px 0 0 55px;

    .left_text {
        font-weight: 600;
        font-size: 13px;
        color: #737375;
    }

    tr td {
        font-size: 15px;
        width: 300px;
    }
}

.navbar_click {
    border-bottom: 2px solid var(--primay-color);
}


//Blog Admin
.content_blog_detail {
    border: 2px solid var(--primay-color) !important;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
}

//Blog 
.blog_item:hover {
    box-shadow: 1px 2px 5px 2px #ccc !important;
}

.btn_filter_blog:hover {
    color: black !important;
}


//Booking User
.bookingUser {
    .top_process {
        padding-top: 50px;

    }

    .time_choose {
        .ant-picker-input {
            font-size: 17px;
        }
    }

    .ant-steps-item-icon {
        color: green !important;
    }

    .navigate_step {
        position: fixed;
        flex-direction: row;
        height: 77px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 3px var(--primay-color);
        border-radius: 5px;
        background-color: white;


        .btn_navigate_back {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ccc;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }

        .btn_navigate_to {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #e68523;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }

        .btn_navigate_back:hover {
            transform: translateY(-3px);
            box-shadow: 1px 2px 5px black;
        }

        .btn_navigate_to:hover {
            transform: translateY(-3px);
            box-shadow: 1px 2px 5px black;
        }
    }
}


.image_ava_map>div {

    width: 100% !important;
    height: 431px !important;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}


.btn_info_user>.ant-avatar {
    border-color: 3px solid var(--primay-color);
}


.react-datalist-input__container {
    background-color: transparent !important;

    .react-datalist-input__textbox {
        margin-top: 7px;

    }
}